<h3 *ngIf="group._id">Viewing group "{{ group.name }}"</h3>
<h3 *ngIf="!group._id">Add a group</h3>

<form (submit)="save(iname.value, group.teams)">
	<label for="name">Name</label>
	<input type="text" #iname class="form-control" id="name" placeholder="Group name" [value]="group.name"/>
	<br/>
	Teams (click to remove):
	<ul>
		<li *ngFor="#team of group.teams" (click)="removeTeam(team)">{{ team.name }} ({{ team.seed }})</li>
	</ul>

	Available teams (click to add):
	<ul>
		<li *ngFor="#team of availableTeams" (click)="addTeam(team)">{{ team.name }} ({{ team.seed }})</li>
	</ul>
	<button type="submit">Save</button>
</form>